
{{!-- Un message dans votre boîte mail attire votre attention :

Objet : Demande de collaboration pour le développement de la plateforme UrbanRoots

Bonjour,
J'espère que vous allez bien. Je me permets de vous contacter car nous recherchons un prestataire
capable de nous accompagner dans le développement de notre nouvelle plateforme, UrbanRoots,
dédiée au jardinage urbain collaboratif.
Nous souhaitons intégrer les fonctionnalités suivantes :
Une carte interactive pour localiser et créer des espaces de jardinage
Une plateforme d'échanges pour partager ressources et conseils
Des forums communautaires pour discussions et organisation d'événements
Des modules éducatifs sur le jardinage urbain
Un outil de suivi environnemental pour mesurer les impacts des actions des utilisateurs
Permettre la recherche et intégrer un système de filtrage selon divers critères (catégorie,
distance, valeur estimée, etc.)
Proposer un système d'évaluation des échanges et des utilisateurs
Nous privilégions les propositions qui mettent en avant une démarche éco-responsable et
communautaire tout au long du développement du projet.
Merci d'avance pour votre proposition.

Cordialement,

L'équipe du projet "Troc éco-responsable"

Après avoir pris connaissance du message, vous décidez de participer à cet appel d'offres. Vous
prévoyez que le projet prendra environ 3 mois pour un coût de 16 500€, en garantissant une réalisation
éthique et respectueuse de l'environnement. --}}



<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban-Roots : Module éducatif sur le jardinage urbain</title>
    <!-- SEO Meta Tags -->
    <meta name="description" content="Urban-Roots est une plateforme de jardinage urbain collaboratif qui permet de localiser et créer des espaces de jardinage, partager ressources et conseils, échanger sur des forums communautaires, accéder à des modules éducatifs sur le jardinage urbain, mesurer les impacts environnementaux, et bien plus encore.">
    <meta name="author" content="Urban-Roots">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Urban-Roots : Module éducatif sur le jardinage urbain">
    <meta property="og:description" content="Urban-Roots est une plateforme de jardinage urbain collaboratif qui permet de localiser et créer des espaces de jardinage, partager ressources et conseils, échanger sur des forums communautaires, accéder à des modules éducatifs sur le jardinage urbain, mesurer les impacts environnementaux, et bien plus encore.">
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://www.urbanroot.fr/article">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://www.urbanroot.fr/article">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DSKHG4RCJG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-DSKHG4RCJG');
    </script>
</head>

<body>
<!-- Header -->
<header id="header" class=" flex fixed top-0 left-0 w-full z-50">
    <div class="header-desktop">
        <a href="/">
            <p class="heading3">Urban-Roots</p>
        </a>
        <div class="hidden xl:flex menu-desktop">
            <a href="/espace-jardinage" class="desktop-navlink">Espace jardinage</a>
            <a href="#section-communautaire" class="desktop-navlink">Espace communautaire</a>
            <a href="/blog" class="desktop-navlink activ-nav">Modules éducatifs</a>
            <a href="/faq" class="desktop-navlink">FAQ</a>
            <a href="/contact" class="desktop-navlink">Contact</a>
        </div>
    </div>

    <div id="menu-burger" class="xl:hidden">
        <img src="/img/fi-rr-menu-burger.svg" alt="menu-burger" id="burger-icon">
    </div>
</header>
<main>
    <!-- Fullscreen menu -->
    <nav id="fullscreen-menu" class="fixed inset-0 hidden z-40">
        <div>
            <a href="/espace-jardinage">Espace jardinage</a>
            <a href="#section-communautaire">Espace communautaire</a>
            <a href="/blog">Modules éducatifs</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

    <!-- Popup -->
    <div id="popup-overlay" class="fixed inset-0 hidden z-50 flex items-center justify-center">
        <div id="popup" class="nl-signup">
            <div class="popup-close">
                <div class="p-2 rounded-xl	">
                    <img src="/img/close-svgrepo-com.svg" id="close-popup" class=" cursor-pointer w-6 h-6" alt="icon close popup">
                </div>
            </div>
            <h3 class="heading3">
                Inscrivez-vous dès aujourd'hui et soyez les premiers informés !
            </h3>
            <p>Soyez les premiers informés et profitez d'un accès exclusif en avant-première !</p>
            <form action="https://app.us17.list-manage.com/subscribe/post?u=6bb0a21d1079de766e0f857a5&amp;id=d799be0915&amp;f_id=0008e1e3f0" method="post" name="mc-embedded-subscribe-form" target="_blank">
                <div class="signup-form">
                    <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" id="mce-EMAIL" required>
                    <div class="response hidden" id="mce-error-response"></div>
                    <div class="response hidden" id="mce-success-response"></div>
                    <button type="submit" name="subscribe" class="cta-lg primary-cta">
                        <span>Je m'inscris</span>
                        <img src="/img/arrow-right-svgrepo-com.svg" class="w-6 h-6" alt="arrow-right">
                    </button>
                </div>
            </form>
        </div>
    </div>

    <section class=" mx-4 sm:mx-6" >
        <!-- Contenu de l'article -->
        <div class="flex mt-32 md:mx-auto article-first-div">
            <div class="article-second-div">
                <div class="article-div-content">
                    <div class="tag category">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                            <g clip-path="url(#clip0_684_155)">
                                <path d="M5.78044 6.94184C6.07369 7.23509 6.07369 7.70984 5.78044 8.00234C5.48719 8.29559 5.01244 8.29559 4.71994 8.00234C4.42669 7.70909 4.42669 7.23434 4.71994 6.94184C5.01319 6.64859 5.48794 6.64859 5.78044 6.94184ZM16.1694 11.5056L15.7457 11.9293C15.7254 12.8541 15.3669 13.7721 14.6694 14.4786L12.2942 16.8846C11.5869 17.6008 10.6434 17.9968 9.63694 17.9998H9.62419C8.62294 17.9998 7.68169 17.6098 6.97369 16.9018L1.41169 11.3871C0.924192 10.9003 0.688692 10.2306 0.763692 9.54734L1.33744 4.36034C1.37569 4.01834 1.64044 3.74609 1.98094 3.69959L7.14769 2.99309C7.84669 2.90009 8.55019 3.13784 9.04369 3.63134L14.6499 9.19034C14.9402 9.48059 15.1727 9.80759 15.3482 10.1563C15.9572 9.28184 15.8717 8.06009 15.0917 7.28009L9.39844 1.72634C9.22669 1.55459 8.98969 1.47509 8.76019 1.50734L3.59344 2.21384C3.18169 2.26934 2.80444 1.98209 2.74819 1.57259C2.69269 1.16234 2.97994 0.784343 3.38944 0.728093L8.55694 0.0208426C9.24769 -0.0774075 9.95869 0.164093 10.4529 0.659843L16.1447 6.21359C17.6042 7.67234 17.6124 10.0438 16.1687 11.5063L16.1694 11.5056ZM13.5909 10.2531L7.98469 4.69409C7.81744 4.52684 7.58269 4.44959 7.34944 4.47884L2.76319 5.10659L2.25394 9.71159C2.22919 9.93884 2.30719 10.1623 2.46919 10.3236L8.03119 15.8383C8.45794 16.2658 9.02269 16.4991 9.62344 16.4991H9.63094C10.2354 16.4976 10.8017 16.2598 11.2254 15.8293L13.6007 13.4233C14.4669 12.5458 14.4624 11.1231 13.5902 10.2516L13.5909 10.2531Z" fill="#2F2F2F" />
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="18" height="18" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span>{{article.category}}</span>
                    </div>
                    <div class="tag createdAt">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                            <g clip-path="url(#clip0_684_159)">
                                <path d="M9 18C4.03725 18 0 13.9628 0 9C0 4.03725 4.03725 0 9 0C13.9628 0 18 4.03725 18 9C18 13.9628 13.9628 18 9 18ZM9 1.5C4.8645 1.5 1.5 4.8645 1.5 9C1.5 13.1355 4.8645 16.5 9 16.5C13.1355 16.5 16.5 13.1355 16.5 9C16.5 4.8645 13.1355 1.5 9 1.5ZM10.875 12.2475C11.2343 12.0405 11.3573 11.5815 11.1495 11.223L9.75 8.799V4.5C9.75 4.086 9.41475 3.75 9 3.75C8.58525 3.75 8.25 4.086 8.25 4.5V9C8.25 9.132 8.2845 9.261 8.3505 9.375L9.8505 11.973C9.99 12.2137 10.2413 12.348 10.5008 12.348C10.6283 12.348 10.7572 12.3158 10.875 12.2475Z" fill="#2F2F2F" />
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="18" height="18" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span>{{formatDate article.createdAt}}</span>
                    </div>
                </div>

                <h1 class="heading2">
                    {{ article.title}}
                </h1>
                <p class="article-intro">
                    {{ article.intro}}
                </p>
            </div>
        </div>
        <div class="flex article-image-hover " >
            <img class="image-hover" src="{{article.img}}" alt="famille recomposée épanouie">
        </div>


        <div class="flex sm:mx-6 md:mx-auto article-contenu">
                {{{ article.content }}}
        </div>


        <!-- Les autres article -->
        <div class="flex sm:mx-6 md:mx-auto article-blog">
            <div class="blog-section">
                <h2>Découvrez d’autres articles</h2>
                <div class="articles-container">
                    {{#each (limit articles 3)}}
                        <div class="article">
                            <img src="{{ this.img }}" class="image" alt="famille recomposée épanouie">
                            <div class="article-meta">
                                <div class="tag category">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <g clip-path="url(#clip0_684_155)">
                                            <path d="M5.78044 6.94184C6.07369 7.23509 6.07369 7.70984 5.78044 8.00234C5.48719 8.29559 5.01244 8.29559 4.71994 8.00234C4.42669 7.70909 4.42669 7.23434 4.71994 6.94184C5.01319 6.64859 5.48794 6.64859 5.78044 6.94184ZM16.1694 11.5056L15.7457 11.9293C15.7254 12.8541 15.3669 13.7721 14.6694 14.4786L12.2942 16.8846C11.5869 17.6008 10.6434 17.9968 9.63694 17.9998H9.62419C8.62294 17.9998 7.68169 17.6098 6.97369 16.9018L1.41169 11.3871C0.924192 10.9003 0.688692 10.2306 0.763692 9.54734L1.33744 4.36034C1.37569 4.01834 1.64044 3.74609 1.98094 3.69959L7.14769 2.99309C7.84669 2.90009 8.55019 3.13784 9.04369 3.63134L14.6499 9.19034C14.9402 9.48059 15.1727 9.80759 15.3482 10.1563C15.9572 9.28184 15.8717 8.06009 15.0917 7.28009L9.39844 1.72634C9.22669 1.55459 8.98969 1.47509 8.76019 1.50734L3.59344 2.21384C3.18169 2.26934 2.80444 1.98209 2.74819 1.57259C2.69269 1.16234 2.97994 0.784343 3.38944 0.728093L8.55694 0.0208426C9.24769 -0.0774075 9.95869 0.164093 10.4529 0.659843L16.1447 6.21359C17.6042 7.67234 17.6124 10.0438 16.1687 11.5063L16.1694 11.5056ZM13.5909 10.2531L7.98469 4.69409C7.81744 4.52684 7.58269 4.44959 7.34944 4.47884L2.76319 5.10659L2.25394 9.71159C2.22919 9.93884 2.30719 10.1623 2.46919 10.3236L8.03119 15.8383C8.45794 16.2658 9.02269 16.4991 9.62344 16.4991H9.63094C10.2354 16.4976 10.8017 16.2598 11.2254 15.8293L13.6007 13.4233C14.4669 12.5458 14.4624 11.1231 13.5902 10.2516L13.5909 10.2531Z" fill="#2F2F2F"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_684_155">
                                                <rect width="18" height="18" fill="white"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <span>{{ this.category }}</span>
                                </div>
                                <div class="article-date">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <g clip-path="url(#clip0_684_159)">
                                            <path d="M9 18C4.03725 18 0 13.9628 0 9C0 4.03725 4.03725 0 9 0C13.9628 0 18 4.03725 18 9C18 13.9628 13.9628 18 9 18ZM9 1.5C4.8645 1.5 1.5 4.8645 1.5 9C1.5 13.1355 4.8645 16.5 9 16.5C13.1355 16.5 16.5 13.1355 16.5 9C16.5 4.8645 13.1355 1.5 9 1.5ZM10.875 12.2475C11.2343 12.0405 11.3573 11.5815 11.1495 11.223L9.75 8.799V4.5C9.75 4.086 9.41475 3.75 9 3.75C8.58525 3.75 8.25 4.086 8.25 4.5V9C8.25 9.132 8.2845 9.261 8.3505 9.375L9.8505 11.973C9.99 12.2137 10.2413 12.348 10.5008 12.348C10.6283 12.348 10.7572 12.3158 10.875 12.2475Z" fill="#2F2F2F"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_684_159">
                                                <rect width="18" height="18" fill="white"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <span>{{formatDate this.createdAt}}</span>
                                </div>
                            </div>
                            <div class="article-content">
                                <p class="article-title">{{this.title}}</p>
                                <p class="article-text">{{this.intro}}</p>

                                <a href="/articles/{{this.slugUrl}}">
                                    <div class="read-more">
                                        <span>Lire plus</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M18 11.9996C17.9951 11.4735 17.7832 10.9705 17.41 10.5996L13.12 6.29958C12.9326 6.11333 12.6792 6.00879 12.415 6.00879C12.1508 6.00879 11.8974 6.11333 11.71 6.29958C11.6163 6.39254 11.5419 6.50315 11.4911 6.62501C11.4403 6.74686 11.4142 6.87757 11.4142 7.00958C11.4142 7.14159 11.4403 7.2723 11.4911 7.39416C11.5419 7.51602 11.6163 7.62662 11.71 7.71958L15 10.9996H5C4.73478 10.9996 4.48043 11.1049 4.29289 11.2925C4.10536 11.48 4 11.7344 4 11.9996C4 12.2648 4.10536 12.5192 4.29289 12.7067C4.48043 12.8942 4.73478 12.9996 5 12.9996H15L11.71 16.2896C11.5217 16.4766 11.4154 16.7307 11.4144 16.996C11.4135 17.2614 11.518 17.5163 11.705 17.7046C11.892 17.8929 12.1461 17.9992 12.4115 18.0001C12.6768 18.0011 12.9317 17.8966 13.12 17.7096L17.41 13.4096C17.7856 13.0362 17.9978 12.5292 18 11.9996Z" fill="#2F2F2F"/>
                                        </svg>
                                    </div>
                                </a>

                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>

    <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>

</main>

<!-- Footer-->
<footer>
    <div>
        <div class="newsletter-signup">
            <div class="heading">
                <p class="home-subheading">
                    Rejoignez-nous
                </p>
                <h2 class="heading2">Prêt à transformer votre jardin en un espace de vie éco-responsable ?</h2>
            </div>
            <div class="nl-signup">
                <p>
                    Inscrivez-vous à notre newsletter pour recevoir des conseils, des astuces et des ressources sur le jardinage urbain collaboratif.
                </p>
                <form action="https://app.us17.list-manage.com/subscribe/post?u=6bb0a21d1079de766e0f857a5&amp;id=d799be0915&amp;f_id=0008e1e3f0" method="post" name="mc-embedded-subscribe-form" target="_blank">
                    <div class="signup-form">
                        <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" required>
                        <button type="submit" name="subscribe" class="cta-lg tonal-cta">
                            <span id="submit-waitlist-footer" class="plus-jakarta">Je m'inscris</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FFF">
                                <path d="M18 11.9996C17.9951 11.4735 17.7832 10.9705 17.41 10.5996L13.12 6.29958C12.9326 6.11333 12.6792 6.00879 12.415 6.00879C12.1508 6.00879 11.8974 6.11333 11.71 6.29958C11.6163 6.39254 11.5419 6.50315 11.4911 6.62501C11.4403 6.74686 11.4142 6.87757 11.4142 7.00958C11.4142 7.14159 11.4403 7.2723 11.4911 7.39416C11.5419 7.51602 11.6163 7.62662 11.71 7.71958L15 10.9996H5C4.73478 10.9996 4.48043 11.1049 4.29289 11.2925C4.10536 11.48 4 11.7344 4 11.9996C4 12.2648 4.10536 12.5192 4.29289 12.7067C4.48043 12.8942 4.73478 12.9996 5 12.9996H15L11.71 16.2896C11.5217 16.4766 11.4154 16.7307 11.4144 16.996C11.4135 17.2614 11.518 17.5163 11.705 17.7046C11.892 17.8929 12.1461 17.9992 12.4115 18.0001C12.6768 18.0011 12.9317 17.8966 13.12 17.7096L17.41 13.4096C17.7856 13.0362 17.9978 12.5292 18 11.9996Z" fill="#FFF"></path>
                            </svg>
                        </button>
                    </div>
                </form>
                <p class="rgpd-message">
                    En renseignant votre adresse e-mail, vous acceptez de recevoir la newsletter de Urban-Roots et vous reconnaissez avoir pris connaissance de notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.
                </p>
            </div>
        </div>
        <div class="copyright-bar">
            <div class="links">
                <p>© 2024 Urban-Roots. Tous droits réservés</p>
                <div class="links">
                    <a href="/politiqueconfidentialite">Politique de confidentialité</a>
                    <a href="/mentionslegales">Mentions légales</a>
                </div>
            </div>
            <div class="links">
                <a target="_blank" href="https://www.facebook.com/"><img class="icon-reseaux" src="/img/icons8-facebook.svg" alt="icon facebook"></a>
                <a target="_blank" href="https://www.instagram.com/"><img src="/img/icons8-insta.svg" alt="icon instagram" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.tiktok.com/"><img src="/img/tiktok-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.youtube.com/"><img src="/img/youtube-168-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
            </div>
        </div>

    </div>
</footer>
<script src="../script.js"></script>
</body>
</html>