<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre espace jardinage - Urban-Roots</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Découvrez notre espace jardinage Urban-Roots : localisez et créez des espaces de jardinage, partagez ressources et conseils, échangez sur des forums, accédez à des modules éducatifs et mesurez les impacts environnementaux.">
    <meta name="author" content="Urban-Roots">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Notre espace jardinage - Urban-Roots">
    <meta property="og:description" content="Découvrez notre espace jardinage Urban-Roots : localisez et créez des espaces de jardinage, partagez ressources et conseils, échangez sur des forums, accédez à des modules éducatifs et mesurez les impacts environnementaux.">
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://www.urbanroot.fr/espace-jardinage">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://www.urbanroot.fr/espace-jardinage">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />

</head>


<body>
<header id="header" class=" flex fixed top-0 left-0 w-full z-50">
    <div class="header-desktop">
        <a href="/">
            <p class="heading3">Urban-Roots</p>
        </a>
        <div class="hidden xl:flex menu-desktop">
            <a href="/espace-jardinage" class="desktop-navlink activ-nav">Espace jardinage</a>
            <a href="/espace-communautaire" class="desktop-navlink" >Espace communautaire</a>
            <a href="/blog" class="desktop-navlink">Modules éducatifs</a>
            <a href="/faq" class="desktop-navlink">FAQ</a>
            <a href="/contact" class="desktop-navlink">Contact</a>
            {{#if user}}
                <a href="/logout" class="desktop-navlink">Déconnexion</a>
            {{else}}
                <a href="/login" class="desktop-navlink">Connexion</a>
            {{/if}}
        </div>
    </div>

    <div id="menu-burger" class="xl:hidden">
        <img src="/img/fi-rr-menu-burger.svg" alt="menu-burger" id="burger-icon">
    </div>
</header>
<div id="content-area"></div>
<main>
    <!-- Fullscreen menu -->
    <nav id="fullscreen-menu" class="fixed inset-0 hidden z-40">
        <div>
            <a href="/espace-jardinage">Espace jardinage</a>
            <a href="/espace-communautaire">Espace communautaire</a>
            <a href="/blog">Modules éducatifs</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact</a>
            {{#if user}}
                <a href="/logout">Déconnexion</a>
            {{else}}
                <a href="/login">Connexion</a>
            {{/if}}
        </div>
    </nav>

    <!-- Popup -->
    <div id="popup-overlay" class="fixed inset-0 hidden z-50 flex items-center justify-center">
        <div id="popup" class="nl-signup">
            <div class="popup-close">
                <div class="p-2 rounded-xl	">
                    <img src="/img/close-svgrepo-com.svg" id="close-popup" class=" cursor-pointer w-6 h-6" alt="icon close popup">
                </div>
            </div>
            <h3 class="heading3">
                Inscrivez-vous dès aujourd'hui et soyez les premiers informés !
            </h3>
            <p>Soyez les premiers informés et profitez d'un accès exclusif en avant-première !</p>
            <form action="" method="post" name="mc-embedded-subscribe-form" target="_blank">
                <div class="signup-form">
                    <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" id="mce-EMAIL" required>
                    <div class="response hidden" id="mce-error-response"></div>
                    <div class="response hidden" id="mce-success-response"></div>
                    <button type="submit" name="subscribe" class="cta-lg primary-cta">
                        <span>Je m'inscris</span>
                        <img src="/img/arrow-right-svgrepo-com.svg" class="w-6 h-6" alt="arrow-right">
                    </button>
                </div>
            </form>
        </div>
    </div>

    {{#if success}}
        <div class="alert alert-success my-32 mx-10">
            Votre jardin a été ajouté avec succès !
        </div>
    {{/if}}
    {{#if error}}
        <div class="alert alert-danger my-32 mx-10">
            Une erreur est survenue lors de l'ajout de votre jardin. Veuillez réessayer.
        </div>
    {{/if}}
    <main class="my-32  mx-4 sm:mx-6 md:mx-auto contact-div">

        <div>
            <h1 class="contact-h1">
                A la recherche d'un jardin collaboratif ?<br>
                Vous êtes au bon endroit !
            </h1>
            <p class="contact-p">
                    Vous souhaitez savoir oû se trouvent les jardins collaboratifs autour de chez vous ?<span class="contact-span">
                    
                        <br>
                    En cliquant sur les points de la carte,</span> vous pouvez accéder à des informations sur les jardins collaboratifs existants, les ressources disponibles, les événements à venir et bien plus encore.
                <br>
                <br>
                <span class="contact-span">Vous pouvez également ajouter votre propre jardin collaboratif à la carte pour le partager avec la communauté.</span>


                {{#if user}}
                    <button id="ctaformulaireJardin" type="button" class="cta-lg outline-cta mt-6">
                        Ajouter mon jardin
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M18 11.9996C17.9951 11.4735 17.7832 10.9705 17.41 10.5996L13.12 6.29958C12.9326 6.11333 12.6792 6.00879 12.415 6.00879C12.1508 6.00879 11.8974 6.11333 11.71 6.29958C11.6163 6.39254 11.5419 6.50315 11.4911 6.62501C11.4403 6.74686 11.4142 6.87757 11.4142 7.00958C11.4142 7.14159 11.4403 7.2723 11.4911 7.39416C11.5419 7.51602 11.6163 7.62662 11.71 7.71958L15 10.9996H5C4.73478 10.9996 4.48043 11.1049 4.29289 11.2925C4.10536 11.48 4 11.7344 4 11.9996C4 12.2648 4.10536 12.5192 4.29289 12.7067C4.48043 12.8942 4.73478 12.9996 5 12.9996H15L11.71 16.2896C11.5217 16.4766 11.4154 16.7307 11.4144 16.996C11.4135 17.2614 11.518 17.5163 11.705 17.7046C11.892 17.8929 12.1461 17.9992 12.4115 18.0001C12.6768 18.0011 12.9317 17.8966 13.12 17.7096L17.41 13.4096C17.7856 13.0362 17.9978 12.5292 18 11.9996Z" fill="#2F2F2F"></path>
                        </svg>
                    </button>
                {{else}}
                    <a href="/login" type="button" class="cta-lg outline-cta mt-6">
                        Ajouter mon jardin
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M18 11.9996C17.9951 11.4735 17.7832 10.9705 17.41 10.5996L13.12 6.29958C12.9326 6.11333 12.6792 6.00879 12.415 6.00879C12.1508 6.00879 11.8974 6.11333 11.71 6.29958C11.6163 6.39254 11.5419 6.50315 11.4911 6.62501C11.4403 6.74686 11.4142 6.87757 11.4142 7.00958C11.4142 7.14159 11.4403 7.2723 11.4911 7.39416C11.5419 7.51602 11.6163 7.62662 11.71 7.71958L15 10.9996H5C4.73478 10.9996 4.48043 11.1049 4.29289 11.2925C4.10536 11.48 4 11.7344 4 11.9996C4 12.2648 4.10536 12.5192 4.29289 12.7067C4.48043 12.8942 4.73478 12.9996 5 12.9996H15L11.71 16.2896C11.5217 16.4766 11.4154 16.7307 11.4144 16.996C11.4135 17.2614 11.518 17.5163 11.705 17.7046C11.892 17.8929 12.1461 17.9992 12.4115 18.0001C12.6768 18.0011 12.9317 17.8966 13.12 17.7096L17.41 13.4096C17.7856 13.0362 17.9978 12.5292 18 11.9996Z" fill="#2F2F2F"></path>
                        </svg>
                    </a>
                {{/if}}

            </p>

        </div>
        <form method="post" action="/creationJardin" id="formulaireJardin" class="hidden flex flex-col post p-8 rounded-xl w-fill-available gap-5">
            <h2 class="heading3">Formulaire de création de jardin</h2>
            <label class="sm:flex flex-col gap-3 mt-3">
                <p>Nom de votre jardin :</p>
                <input required name="nom" type="text" placeholder="Nom" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
            </label>
            <label class="sm:flex flex-col gap-3 mt-3">
                <p>Description :</p>
                <input required name="description" type="text" placeholder="Description" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
            </label>
            <div class="sm:flex gap-3 mt-3">
                <label class="sm:flex flex-col gap-3 mt-3">
                    <p>Adresse du jardin :</p>
                    <input required name="adresse" type="text" placeholder="Adresse du jardin" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
                </label>
                <label class="sm:flex flex-col gap-3 mt-3">
                    <p>Ville :</p>
                    <input required name="ville" type="text" placeholder="Ville" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
                </label>
                <label class="sm:flex flex-col gap-3 mt-3">
                    <p>Code postal :</p>
                    <input required name="codePostal" type="number" placeholder="Code postal" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
                </label>
            </div>
            <div class="sm:flex gap-3 mt-3">
                <label class="sm:flex flex-col gap-3 mt-3">
                    <p>Site web :</p>
                    <input required name="siteWeb" type="url" placeholder="siteweb" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
                </label>
                <label class="sm:flex flex-col gap-3 mt-3">
                    <p>Image du jardin : (URL)</p>
                    <input required name="image" type="text" placeholder="URL de votre image" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
                </label>
            </div>
            <div class="sm:flex gap-3">
                <label class="flex flex-col gap-3 mt-3">
                    <p>Horaire :</p>
                    <input required name="horaires" type="text" placeholder="Horaires" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
                </label>
                <label class="sm:flex flex-col gap-3 mt-3">
                    <p>Type :</p>
                    <select required name="type" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
                        <option value="potager">Potager</option>
                        <option value="verger">Verger</option>
                        <option value="jardin partagé">Jardin partagé</option>
                        <option value="jardin collectif">Jardin collectif</option>
                    </select>
                </label>
                <label class="sm:flex flex-col gap-3 mt-3">
                    <p>Public :</p>
                    <select required name="public" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
                        <option value="enfant">Enfant</option>
                        <option value="adulte">Adulte</option>
                        <option value="famille">Famille</option>
                        <option value="senior">Senior</option>
                        <option value="tous public">Tous publics</option>
                        <option value="Sur inscription">Sur inscription</option>
                    </select>
                </label>
            </div>
            <div class="sm:flex gap-3">
                <label class="sm:flex flex-col gap-3 mt-3">
                    <p>Longitude :</p>
                    <input required name="longitude" type="number" placeholder="Longitude" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
                </label>
                <label class="sm:flex flex-col gap-3 mt-3">
                    <p>Latitude :</p>
                    <input required name="latitude" type="number" placeholder="Latitude" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
                </label>
            </div>
            <button id="ctaformulaireJardin" type="submit" class="cta-lg outline-cta mt-6">
                Créer mon jardin
            </button>
        </form>
        <div id="map" style="width:100%; height:400px;z-index:1;"></div>
        <textarea id="jardinsData" style="display:none;">{{{jardins}}}</textarea>
    </main>
<div class="my-32  mx-4 sm:mx-6 md:mx-auto contact-div">
    <h2 class="heading3">Liste des jardins collaboratifs</h2>
    <div id="listeDesJardins" >
        <div class="flex flex-wrap gap-5 flex-col">
            {{#each jardinsArray}}
                <div class="flex gap-3">
                    <img src="{{image}}" class="rounded-lg" width="75px" height="75px" alt="{{nom}}">
                    <div class="flex flex-col gap-2">
                        <p class="font-bold">{{nom}}</p>
                        <p>{{adresse}} {{codePostal}} {{ville}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>



    <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>

</main>

<!-- Footer-->
<footer>
    <div>
        <div class="newsletter-signup">
            <div class="heading">
                <p class="home-subheading">
                    Rejoignez-nous
                </p>
                <h2 class="heading2">Prêt à transformer votre jardin en un espace de vie éco-responsable ?</h2>
            </div>
            <div class="nl-signup">
                <p>
                    Inscrivez-vous à notre newsletter pour recevoir des conseils, des astuces et des ressources sur le jardinage urbain collaboratif.
                </p>
                <form action="" method="get" name="mc-embedded-subscribe-form">
                    <div class="signup-form">
                        <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" required>
                        <button type="submit" name="subscribe" class="cta-lg tonal-cta">
                            <span id="submit-waitlist-footer" class="plus-jakarta">Je m'inscris</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FFF">
                                <path d="M18 11.9996C17.9951 11.4735 17.7832 10.9705 17.41 10.5996L13.12 6.29958C12.9326 6.11333 12.6792 6.00879 12.415 6.00879C12.1508 6.00879 11.8974 6.11333 11.71 6.29958C11.6163 6.39254 11.5419 6.50315 11.4911 6.62501C11.4403 6.74686 11.4142 6.87757 11.4142 7.00958C11.4142 7.14159 11.4403 7.2723 11.4911 7.39416C11.5419 7.51602 11.6163 7.62662 11.71 7.71958L15 10.9996H5C4.73478 10.9996 4.48043 11.1049 4.29289 11.2925C4.10536 11.48 4 11.7344 4 11.9996C4 12.2648 4.10536 12.5192 4.29289 12.7067C4.48043 12.8942 4.73478 12.9996 5 12.9996H15L11.71 16.2896C11.5217 16.4766 11.4154 16.7307 11.4144 16.996C11.4135 17.2614 11.518 17.5163 11.705 17.7046C11.892 17.8929 12.1461 17.9992 12.4115 18.0001C12.6768 18.0011 12.9317 17.8966 13.12 17.7096L17.41 13.4096C17.7856 13.0362 17.9978 12.5292 18 11.9996Z" fill="#FFF"></path>
                            </svg>
                        </button>
                    </div>
                </form>
                <p class="rgpd-message">
                    En renseignant votre adresse e-mail, vous acceptez de recevoir la newsletter de Urban-Roots et vous reconnaissez avoir pris connaissance de notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.
                </p>
            </div>
        </div>
        <div class="copyright-bar">
            <div class="links">
                <p>© 2024 Urban-Roots. Tous droits réservés</p>
                <div class="links">
                    <a href="/politiqueconfidentialite">Politique de confidentialité</a>
                    <a href="/mentionslegales">Mentions légales</a>
                </div>
            </div>
            <div class="links">
                <a target="_blank" href="https://www.facebook.com/"><img class="icon-reseaux" src="/img/icons8-facebook.svg" alt="icon facebook"></a>
                <a target="_blank" href="https://www.instagram.com/"><img src="/img/icons8-insta.svg" alt="icon instagram" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.tiktok.com/"><img src="/img/tiktok-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.youtube.com/"><img src="/img/youtube-168-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
            </div>
        </div>

    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Leaflet et MarkerCluster -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>

<!-- Votre script -->
<script src="../espace-jardinage.js"></script>

<script src="../script.js"></script>


</body>
</html>
