<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre espace communautaire - Urban-Roots</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Rejoignez notre espace communautaire Urban-Roots, un lieu d'échange pour passionnés de jardinage urbain. Découvrez des ressources, conseils, forums, et modules éducatifs !">
    <meta name="author" content="Urban-Roots">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Notre espace communautaire - Urban-Roots">
    <meta property="og:description" content="Rejoignez notre espace communautaire Urban-Roots, un lieu d'échange pour passionnés de jardinage urbain. Découvrez des ressources, conseils, forums, et modules éducatifs !">
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://www.urbanroot.fr/espace-communautaire">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://www.urbanroot.fr/espace-communautaire">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-rounded/css/uicons-solid-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.4.2/uicons-thin-rounded/css/uicons-thin-rounded.css">



</head>


<body>

<!-- Header -->
<header id="header" class=" flex fixed top-0 left-0 w-full z-50">
    <div class="header-desktop">
        <a href="/">
            <p class="heading3">Urban-Roots</p>
        </a>
        <div class="hidden xl:flex menu-desktop">
            <a href="/espace-jardinage" class="desktop-navlink">Espace jardinage</a>
            <a href="/espace-communautaire" class="desktop-navlink activ-nav" >Espace communautaire</a>
            <a href="/blog" class="desktop-navlink">Modules éducatifs</a>
            <a href="/faq" class="desktop-navlink">FAQ</a>
            <a href="/contact" class="desktop-navlink">Contact</a>
            {{#if user}}
                <a href="/logout" class="desktop-navlink">Déconnexion</a>
            {{else}}
                <a href="/login" class="desktop-navlink">Connexion</a>
            {{/if}}
        </div>
    </div>

    <div id="menu-burger" class="xl:hidden">
        <img src="/img/fi-rr-menu-burger.svg" alt="menu-burger" id="burger-icon">
    </div>
</header>
<div id="content-area"></div>
<main>
    <!-- Fullscreen menu -->
    <nav id="fullscreen-menu" class="fixed inset-0 hidden z-40">
        <div>
            <a href="/espace-jardinage">Espace jardinage</a>
            <a href="/espace-communautaire">Espace communautaire</a>
            <a href="/blog">Modules éducatifs</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact</a>
            {{#if user}}
                <a href="/logout">Déconnexion</a>
            {{else}}
                <a href="/login">Connexion</a>
            {{/if}}
        </div>
    </nav>

    <!-- Popup -->
    <div id="popup-overlay" class="fixed inset-0 hidden z-50 flex items-center justify-center">
        <div id="popup" class="nl-signup">
            <div class="popup-close">
                <div class="p-2 rounded-xl	">
                    <img src="/img/close-svgrepo-com.svg" id="close-popup" class=" cursor-pointer w-6 h-6" alt="icon close popup">
                </div>
            </div>
            <h3 class="heading3">
                Inscrivez-vous dès aujourd'hui et soyez les premiers informés !
            </h3>
            <p>Soyez les premiers informés et profitez d'un accès exclusif en avant-première !</p>
            <form action="" method="post" name="mc-embedded-subscribe-form" target="_blank">
                <div class="signup-form">
                    <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" id="mce-EMAIL" required>
                    <div class="response hidden" id="mce-error-response"></div>
                    <div class="response hidden" id="mce-success-response"></div>
                    <button type="submit" name="subscribe" class="cta-lg primary-cta">
                        <span>Je m'inscris</span>
                        <img src="/img/arrow-right-svgrepo-com.svg" class="w-6 h-6" alt="arrow-right">
                    </button>
                </div>
            </form>
        </div>
    </div>




<section class="grid grid-cols-8 w-full my-16">
    <div id="column-left" class="lg:column-left col-span-2 flex flex-col m-12">
        <div class="flex flex-col gap-2 mb-10">
            <button type="button" class="p-3 flex gap-5 cta-column-left rounded-lg fit-content mesPosts">
                <i class="fi fi-rr-comment"></i>
                <span>Mes posts</span>
            </button>
{{#if user}}
            <button type="button" class="ajouter-publication p-3 flex gap-5 cta-column-left rounded-lg fit-content">
                <i class="fi fi-rr-bookmark"></i>
                <span>Créer une publication</span>
            </button>
{{else}}
            <a href="/login" class="p-3 flex gap-5 cta-column-left rounded-lg fit-content">
                <i class="fi fi-rr-bookmark"></i>
                <span>Créer une publication</span>
            </a>
{{/if}}

        </div>
        <h2 class="heading4 mb-3">Sujet en tendance</h2>
        <div class="flex flex-col gap-5">
            <button id="ctaAgriculture" type="button" class="p-3 flex gap-5 rounded-lg fit-content cta-tendance">
                <div class="flex flex-col items-start">
                    <p class="text-base font-bold">Agriculture</p>
                    <p class="text-sm">20/07/2024 - 17:38</p>
                </div>
                <span class="text-sm font-bold  cta-column-left-topic rounded-xl p-4">2</span>
            </button>
            <button id="ctaRessources" type="button" class="p-3 flex gap-5 rounded-lg fit-content cta-tendance">
                <div class="flex flex-col items-start">
                    <p class="text-base font-bold">Ressources</p>
                    <p class="text-sm">01/07/2024 - 21:47</p>
                </div>
                <span class="text-sm font-bold  cta-column-left-topic rounded-xl p-4">49</span>
            </button>
            <button id="ctaJardinage" type="button" class="p-3 flex gap-5 rounded-lg fit-content cta-tendance">
                <div class="flex flex-col items-start">
                    <p class="text-base font-bold">Jardinage</p>
                    <p class="text-sm">09/07/2024 - 21:47</p>
                </div>
                <span class="text-sm font-bold  cta-column-left-topic rounded-xl p-4">49</span>
            </button>
            <button id="ctaAll" type="button" class="p-3 flex gap-5 rounded-lg fit-content cta-tendance">
                <div class="flex flex-col items-start">
                    <p class="text-base font-bold">Tous les sujets</p>
                    <p class="text-sm">02/08/2024 - 17:38</p>
                </div>
                <span class="text-sm font-bold  cta-column-left-topic rounded-xl p-4">100</span>
            </button>
        </div>
    </div>
    <div id="column-right" class="column-center col-span-6 m-3 lg:m-12 flex flex-col gap-6">


        <h1 class="heading2">Bienvenue sur l'espace communautaire</h1>
        <div class="flex lg:hidden gap-2 mb-2">
            <button type="button" class="p-3 flex gap-5 cta-column-left rounded-lg fit-content mesPosts">
                <i class="hidden xs:block fi fi-rr-comment"></i>
                <span>Mes posts</span>
            </button>
            {{#if user}}
                <button type="button" class="ajouter-publication p-3 flex gap-5 cta-column-left rounded-lg fit-content" >
                    <i class="hidden xs:block fi fi-rr-bookmark"></i>
                    <span>Créer une publication</span>
                </button>
            {{else}}
                <a href="/login" type="button" class="p-3 flex gap-5 cta-column-left rounded-lg fit-content">
                    <i class="hidden xs:block fi fi-rr-bookmark"></i>
                    <span>Créer une publication</span>
                </a>
            {{/if}}
        </div>
        <!-- Filtre de publication option -->
        <label class="lg:hidden flex flex-col gap-3">
            <p>Filtrer par catégorie :</p>
            <select id="filtreTags" name="tags" class="input-create-post p-2 border border-gray-300 rounded-lg">
                <option value="all"
                    {{#if (eq selectedTag "all")}}
                        selected
                    {{/if}}
                >Toutes les catégories</option>

                <option value="agriculture"
                    {{#if (eq selectedTag "agriculture")}}
                        selected
                    {{/if}}
                >Agriculture</option>

                <option value="ressources"
                    {{#if (eq selectedTag "ressources")}}
                        selected
                    {{/if}}
                >Ressources</option>

                <option value="jardinage"
                    {{#if (eq selectedTag "jardinage")}}
                        selected
                    {{/if}}
                >Jardinage</option>

            </select>
        </label>

        <!-- successCommentaire -->
        {{#if successCommentaire}}
            <div class="alert alert-success" role="alert">
                Votre commentaire a bien été ajouté
            </div>
        {{/if}}
        {{#if success}}
            <div class="alert alert-success ">
                Votre publication a bien été ajoutée
            </div>
        {{/if}}
        {{#if error}}
            <div class="alert alert-danger">
                Une erreur est survenue lors de l'ajout de votre publication. Veuillez réessayer.
            </div>
        {{/if}}
        <section id="sectionCreationPublication" class="hidden flex flex-col post p-8 rounded-xl w-fill-available gap-5">
            <h3 class="heading3">Formulaire de création de publication</h3>
            <form action="/creationPublication" method="post" class="flex flex-col gap-5">
                <label>
                    <p>Titre de votre publication :</p>
                    <input name="titre" type="text" placeholder="Titre de votre publication" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
                </label>
                <label>
                    <p>Contenu de votre publication :</p>
                    <textarea name="contenu" placeholder="Contenu de votre publication" class="input-create-post w-full p-2 border border-gray-300 rounded-lg"></textarea>
                </label>

                <label>
                    <p>Catégorie de votre publication :</p>
                    <select name="tags" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">
                        <option value="agriculture">Agriculture</option>
                        <option value="ressources">Ressources</option>
                        <option value="jardinage">Jardinage</option>
                    </select>
                </label>

                <button type="submit" class="cta-create-post p-4 rounded-lg bg-blue-500 text-white hover:bg-blue-600" id="submitPublication">
                    <p>Publier</p>
                </button>
            </form>
        </section>

        {{#each publications}}
            <div class="flex flex-col post p-8 rounded-xl w-fill-available gap-5">
                <h2 class="heading4">{{titre}}</h2>
                <div class="flex gap-5 justify-between">
                    <div class="flex gap-4">
                        {{#contains imageEditeur "http"}}
                            <img src="{{imageEditeur}}" width="56" alt="image de photo de profil" class="rounded-xl">
                        {{else}}
                            <img src="../{{imageEditeur}}" width="56" alt="image de photo de profil" class="rounded-xl">
                        {{/contains}}

                        <div>
                            <p class="text-sm font-bold">{{ nomEditeur }}</p>
                            <p class="text-sm">Publié le {{formatDate createdAt}}</p> <!-- Format de la date -->
                        </div>
                    </div>
                    <div class="hidden sm:block">
                        <button type="button" class="cta-post-tag p-2 rounded-lg">{{tags}}</button>
                    </div>
                </div>

                <!-- Contenu du post -->
                <div class="text-gray-800 leading-relaxed mb-4">
                    {{{contenu}}}
                </div>

                <!-- Commentaires -->
                <h2>Liste des commentaires :</h2>
                {{#each commentaires}}
                    <div class="flex flex-col gap-5 ml-4">
                        <div class="flex gap-4">
                            <img src="{{ createdBy.imgProfil }}" width="56" alt="image de photo de profil" class="rounded-xl">
                            <div>
                                <p class="text-sm font-bold">{{ createdBy.prenom }}</p>
                                <p class="text-sm">Publié le {{formatDate createdAt}}</p> <!-- Format de la date -->
                            </div>
                        </div>
                        <p>{{message}}</p>
                    </div>
                {{/each}}
                <!-- Boutons d'interaction -->
                {{#if ../user}}
                    <div class="flex gap-5 mb-4 flex-col sm:flex-row">
                        <div class="flex items-center">
                            {{#if publicationLiked}}
                                <button class="p-3 flex gap-5 cta-column-left rounded-xl fit-content like-btn" data-publication-id="{{_id}}" data-publication-liked="{{publicationLiked}}">
                                    <i class="fi fi-rr-heart text-red-600"></i>
                                </button>
                            {{else}}
                                <button class="p-3 flex gap-5 cta-column-left rounded-xl fit-content like-btn" data-publication-id="{{_id}}">
                                    <i class="fi fi-rr-heart"></i> <!-- Icône pour un cœur vide -->
                                </button>
                            {{/if}}

                        </div>
                        <div class="flex items-center gap-4">
                            <button class="ajouter-une-reponse p-3 flex gap-5 cta-column-left rounded-xl fit-content">
                                <i class="fi fi-rr-comment"></i>
                                Ajouter un commentaire
                            </button>
                        </div>
                    </div>
                {{else}}
                    <div class="flex gap-5 mb-4 flex-col sm:flex-row">
                        <div class="flex items-center">
                            <a href="/login" class="p-3 flex gap-5 cta-column-left rounded-xl fit-content">
                                <i class="fi fi-rr-heart"></i>
                            </a>
                        </div>
                        <div class="flex items-center gap-4">
                            <a href="/login" class="p-3 flex gap-5 cta-column-left rounded-xl fit-content">
                                <i class="fi fi-rr-comment"></i>
                                Ajouter un commentaire
                            </a>
                        </div>
                    </div>
                {{/if}}
                <!-- Formulaire pour ajouter un commentaire -->
                <div class="flex flex-col hidden post p-8 rounded-xl w-full gap-5 reponseDiv">
                    <p>Rédaction d'un commentaire</p>
                    <form action="commentaire/comment" method="post">
                        <!-- Champ caché pour stocker l'ID de la publication -->
                        <input type="hidden" name="publicationId" value="{{_id}}">


                        <div class="flex">
                            <!-- Champ pour l'utilisateur de saisir son commentaire -->
                            <input type="text" name="message" placeholder="Votre réponse" class="input-create-post w-full p-2 border border-gray-300 rounded-lg">

                            <!-- Bouton pour soumettre le commentaire -->
                            <button type="submit" class="cta-create-post p-4 rounded-lg bg-blue-500 text-white hover:bg-blue-600">
                                <img src="/img/plus.png" alt="icon plus">
                            </button>
                        </div>
                    </form>
                </div>



            </div>
        {{/each}}

    </div>
</section>

    <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>

</main>

<!-- Footer-->
<footer>
    <div>
        <div class="newsletter-signup">
            <div class="heading">
                <p class="home-subheading">
                    Rejoignez-nous
                </p>
                <h2 class="heading2">Prêt à transformer votre jardin en un espace de vie éco-responsable ?</h2>
            </div>
            <div class="nl-signup">
                <p>
                    Inscrivez-vous à notre newsletter pour recevoir des conseils, des astuces et des ressources sur le jardinage urbain collaboratif.
                </p>
                <form action="" method="get" name="mc-embedded-subscribe-form">
                    <div class="signup-form">
                        <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" required>
                        <button type="submit" name="subscribe" class="cta-lg tonal-cta">
                            <span id="submit-waitlist-footer" class="plus-jakarta">Je m'inscris</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FFF">
                                <path d="M18 11.9996C17.9951 11.4735 17.7832 10.9705 17.41 10.5996L13.12 6.29958C12.9326 6.11333 12.6792 6.00879 12.415 6.00879C12.1508 6.00879 11.8974 6.11333 11.71 6.29958C11.6163 6.39254 11.5419 6.50315 11.4911 6.62501C11.4403 6.74686 11.4142 6.87757 11.4142 7.00958C11.4142 7.14159 11.4403 7.2723 11.4911 7.39416C11.5419 7.51602 11.6163 7.62662 11.71 7.71958L15 10.9996H5C4.73478 10.9996 4.48043 11.1049 4.29289 11.2925C4.10536 11.48 4 11.7344 4 11.9996C4 12.2648 4.10536 12.5192 4.29289 12.7067C4.48043 12.8942 4.73478 12.9996 5 12.9996H15L11.71 16.2896C11.5217 16.4766 11.4154 16.7307 11.4144 16.996C11.4135 17.2614 11.518 17.5163 11.705 17.7046C11.892 17.8929 12.1461 17.9992 12.4115 18.0001C12.6768 18.0011 12.9317 17.8966 13.12 17.7096L17.41 13.4096C17.7856 13.0362 17.9978 12.5292 18 11.9996Z" fill="#FFF"></path>
                            </svg>
                        </button>
                    </div>
                </form>
                <p class="rgpd-message">
                    En renseignant votre adresse e-mail, vous acceptez de recevoir la newsletter de Urban-Roots et vous reconnaissez avoir pris connaissance de notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.
                </p>
            </div>
        </div>
        <div class="copyright-bar">
            <div class="links">
                <p>© 2024 Urban-Roots. Tous droits réservés</p>
                <div class="links">
                    <a href="/politiqueconfidentialite">Politique de confidentialité</a>
                    <a href="/mentionslegales">Mentions légales</a>
                </div>
            </div>
            <div class="links">
                <a target="_blank" href="https://www.facebook.com/"><img class="icon-reseaux" src="/img/icons8-facebook.svg" alt="icon facebook"></a>
                <a target="_blank" href="https://www.instagram.com/"><img src="/img/icons8-insta.svg" alt="icon instagram" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.tiktok.com/"><img src="/img/tiktok-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.youtube.com/"><img src="/img/youtube-168-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
            </div>
        </div>

    </div>
</footer>
<script src="../espace-communautaire.js"></script>
<script src="../script.js"></script>
</body>
</html>
