
{{!-- Un message dans votre boîte mail attire votre attention :

Objet : Demande de collaboration pour le développement de la plateforme UrbanRoots

Bonjour,
J'espère que vous allez bien. Je me permets de vous contacter car nous recherchons un prestataire
capable de nous accompagner dans le développement de notre nouvelle plateforme, UrbanRoots,
dédiée au jardinage urbain collaboratif.
Nous souhaitons intégrer les fonctionnalités suivantes :
Une carte interactive pour localiser et créer des espaces de jardinage
Une plateforme d'échanges pour partager ressources et conseils
Des forums communautaires pour discussions et organisation d'événements
Des modules éducatifs sur le jardinage urbain
Un outil de suivi environnemental pour mesurer les impacts des actions des utilisateurs
Permettre la recherche et intégrer un système de filtrage selon divers critères (catégorie,
distance, valeur estimée, etc.)
Proposer un système d'évaluation des échanges et des utilisateurs
Nous privilégions les propositions qui mettent en avant une démarche éco-responsable et
communautaire tout au long du développement du projet.
Merci d'avance pour votre proposition.

Cordialement,

L'équipe du projet "Troc éco-responsable"

Après avoir pris connaissance du message, vous décidez de participer à cet appel d'offres. Vous
prévoyez que le projet prendra environ 3 mois pour un coût de 16 500€, en garantissant une réalisation
éthique et respectueuse de l'environnement. --}}



<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban-Roots - La plateforme de jardinage urbain collaboratif</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Urban-Roots est une plateforme de jardinage urbain collaboratif qui permet de localiser et créer des espaces de jardinage, partager ressources et conseils, échanger sur des forums communautaires, accéder à des modules éducatifs sur le jardinage urbain, mesurer les impacts environnementaux, et bien plus encore.">
    <meta name="author" content="Urban-Roots">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Urban-Roots - La plateforme de jardinage urbain collaboratif">
    <meta property="og:description" content="Urban-Roots est une plateforme de jardinage urbain collaboratif qui permet de localiser et créer des espaces de jardinage, partager ressources et conseils, échanger sur des forums communautaires, accéder à des modules éducatifs sur le jardinage urbain, mesurer les impacts environnementaux, et bien plus encore.">
    <meta property="og:image" content="/img/Hero-Image.svg">
    <meta property="og:url" content="https://www.urbanroot.fr/">
    <meta property="og:type" content="website">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://www.urbanroot.fr/">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
</head>

<body>
<!-- Header -->
<header id="header" class=" flex fixed top-0 left-0 w-full z-50">
    <div class="header-desktop">
        <a href="/">
            <p class="heading3">Urban-Roots</p>
        </a>
        <div class="hidden xl:flex menu-desktop">
            <a href="/espace-jardinage" class="desktop-navlink">Espace jardinage</a>
            <a href="/espace-communautaire" class="desktop-navlink">Espace communautaire</a>
            <a href="blog" class="desktop-navlink">Modules éducatifs</a>
            <a href="/faq" class="desktop-navlink">FAQ</a>
            <a href="/contact" class="desktop-navlink">Contact</a>
        </div>
    </div>

    <div id="menu-burger" class="xl:hidden">
        <img src="/img/fi-rr-menu-burger.svg" alt="menu-burger" id="burger-icon">
    </div>
</header>
<main>
    <!-- Fullscreen menu -->
    <nav id="fullscreen-menu" class="fixed inset-0 hidden z-40">
        <div>
            <a href="/espace-jardinage">Espace jardinage</a>
            <a href="/espace-communautaire">Espace communautaire</a>
            <a href="blog">Modules éducatifs</a>
            <a href="/faq">FAQ</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

    <!-- Popup -->
    <div id="popup-overlay" class="fixed inset-0 hidden z-50 flex items-center justify-center">
        <div id="popup" class="nl-signup">
            <div class="popup-close">
                <div class="p-2 rounded-xl	">
                    <img src="/img/close-svgrepo-com.svg" id="close-popup" class=" cursor-pointer w-6 h-6" alt="icon close popup">
                </div>
            </div>
            <h3 class="heading3">
                Inscrivez-vous dès aujourd'hui et soyez les premiers informés !
            </h3>
            <p>Soyez les premiers informés et profitez d'un accès exclusif en avant-première !</p>
            <form action="https://app.us17.list-manage.com/subscribe/post?u=6bb0a21d1079de766e0f857a5&amp;id=d799be0915&amp;f_id=0008e1e3f0" method="post" name="mc-embedded-subscribe-form" target="_blank">
                <div class="signup-form">
                    <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" id="mce-EMAIL" required>
                    <div class="response hidden" id="mce-error-response"></div>
                    <div class="response hidden" id="mce-success-response"></div>
                    <button type="submit" name="subscribe" class="cta-lg primary-cta">
                        <span>Je m'inscris</span>
                        <img src="/img/arrow-right-svgrepo-com.svg" class="w-6 h-6" alt="arrow-right">
                    </button>
                </div>
            </form>
        </div>
    </div>

        <!-- Hero section -->
        <div id="hero" class="md:flex first-div-top">
            <div id="left" class="hero-content">
                <div>
                    <h1 class="display-title">
                        Toutes les clés pour bâtir un jardin urbain collaboratif
                    </h1>
                    <p class="paragraph-text">
                        Transformez votre quotidien de <strong>jardinier urbain</strong> en une expérience collaborative et enrichissante.
                    </p>
                </div>
                <div class="cta-section">
                    <p class="paragraph-bold">Inscrivez-vous dès maintenant pour être informé en avant-première !</p>
                    <a href="/login" class="waitlist-btn cta-lg tonal-cta">
                        Je découvre dès maintenant
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M18 11.9996C17.9951 11.4735 17.7832 10.9705 17.41 10.5996L13.12 6.29958C12.9326 6.11333 12.6792 6.00879 12.415 6.00879C12.1508 6.00879 11.8974 6.11333 11.71 6.29958C11.6163 6.39254 11.5419 6.50315 11.4911 6.62501C11.4403 6.74686 11.4142 6.87757 11.4142 7.00958C11.4142 7.14159 11.4403 7.2723 11.4911 7.39416C11.5419 7.51602 11.6163 7.62662 11.71 7.71958L15 10.9996H5C4.73478 10.9996 4.48043 11.1049 4.29289 11.2925C4.10536 11.48 4 11.7344 4 11.9996C4 12.2648 4.10536 12.5192 4.29289 12.7067C4.48043 12.8942 4.73478 12.9996 5 12.9996H15L11.71 16.2896C11.5217 16.4766 11.4154 16.7307 11.4144 16.996C11.4135 17.2614 11.518 17.5163 11.705 17.7046C11.892 17.8929 12.1461 17.9992 12.4115 18.0001C12.6768 18.0011 12.9317 17.8966 13.12 17.7096L17.41 13.4096C17.7856 13.0362 17.9978 12.5292 18 11.9996Z" fill="white" />
                        </svg>
                    </a>
                </div>
            </div>
            <div id="right" class="hero-image ">
                <img src="/img/iStock-1226897318.avif" class="rounded-lg" alt="famille recomposée épanouie">
            </div>
        </div>

        <!-- Notre mission -->
        <div id="notre-mission" class="notre-mission">
            <div class="heading">
                <p class="home-subheading">
                    Notre mission
                <h2 class="heading2">
                    À travers des expériences positives, nous vous aidons à bâtir un jardin urbain collaboratif et éco-responsable.
                </h2>
            </div>
            <div class="cards">
                <div class="card-yellow">
                    <img class="card-icon" src="/img/fi-rr-messages.svg" alt="icone communication">
                    <div class="card-content">
                        <h4 class="heading4">
                            Echangez et partagez
                        </h4>
                        <p class="paragraph-text">
                            Partagez vos ressources, vos conseils et vos astuces pour un jardinage urbain collaboratif.
                        </p>
                    </div>
                </div>

                <div class="card-red">
                    <img class="card-icon" src="/img/fi-rr-channel.svg" alt="icone liens familiaux">
                    <div>
                        <h4 class="heading4">
                            Apprenez et améliorez vos pratiques
                        </h4>
                        <p class="paragraph-text">
                            Accédez à des modules éducatifs sur le jardinage urbain et découvrez de nouvelles pratiques.
                        </p>
                    </div>
                </div>

                <div class="card-blue">
                    <img class="card-icon" src="/img/fi-rr-hands-heart.svg" alt="icone soutien">
                    <div>
                        <h4 class="heading4">
                            Créez un jardin urbain éco-responsable
                        </h4>
                        <p class="paragraph-text">
                            Mesurez les impacts environnementaux de vos actions et contribuez à un jardin urbain éco-responsable.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--Comment ça fonctionne -->
        <div id="how-it-works">
            <div>
                <div class="hiw-top">
                    <div class="heading">
                        <p class="home-subheading">
                            Comment ça fonctionne?
                        </p>
                        <h2 class="heading3">
                            Nous mettons à votre disposition des outils simples et efficaces pour vous accompagner dans la création de votre jardin urbain collaboratif.
                        </h2>
                    </div>
                    <img src="/img/Untitled-design-60-1024x668-1.jpg" alt="famille recomposée épanouie">
                </div>
                <div class="feature-cards">
                    <div class="feature-card card1">
                        <div class="card-title">
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g clip-path="url(#clip0_449_2636)">
                                        <path d="M21 17H20V16C20 15.448 19.553 15 19 15C18.447 15 18 15.448 18 16V17H13C11.346 17 10 18.346 10 20V20.5C10 21.327 9.327 22 8.5 22C7.673 22 7 21.327 7 20.5V3.5C7 2.961 6.867 2.456 6.649 2H9C9.553 2 10 1.552 10 1C10 0.448 9.553 0 9 0H3.5C1.57 0 0 1.57 0 3.5V4C0 5.654 1.346 7 3 7H5V20.5C5 22.429 6.569 23.999 8.498 24H20.5C22.43 24 24 22.43 24 20.5V20C24 18.346 22.654 17 21 17ZM5 5H3C2.448 5 2 4.551 2 4V3.5C2 2.673 2.673 2 3.5 2C4.327 2 5 2.673 5 3.5V5ZM22 20.5C22 21.327 21.327 22 20.5 22H11.662C11.879 21.545 12 21.037 12 20.5V20C12 19.449 12.448 19 13 19H21C21.552 19 22 19.449 22 20V20.5ZM17 14C20.859 14 24 10.86 24 7C24 3.14 20.859 0 17 0C13.141 0 10 3.14 10 7C10 10.86 13.141 14 17 14ZM17 2C19.757 2 22 4.243 22 7C22 9.757 19.757 12 17 12C14.243 12 12 9.757 12 7C12 4.243 14.243 2 17 2ZM13.518 6.8C13.904 6.405 14.537 6.4 14.932 6.785L16.063 7.893C16.207 8.034 16.442 8.032 16.585 7.893L18.808 5.759C19.205 5.377 19.84 5.39 20.222 5.788C20.604 6.186 20.591 6.819 20.193 7.202L17.98 9.326C17.527 9.773 16.928 9.997 16.327 9.997C15.726 9.997 15.123 9.773 14.663 9.323L13.532 8.215C13.137 7.828 13.132 7.194 13.518 6.8Z" fill="#2F2F2F" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_449_2636">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <h4 class="heading4">Vous souhaitez créer un jardin urbain collaboratif ?</h4>
                        </div>
                        <p>Localisez et créez des espaces de jardinage collaboratif sur une carte interactive et partagez-les avec la communauté.</p>
                    </div>
                    <div class="feature-card card2">
                        <div class="card-title">
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g clip-path="url(#clip0_449_2642)">
                                        <path d="M16.7128 13.8044C17.0968 14.1974 17.0938 14.8244 16.7038 15.2104C16.6298 15.2834 14.8638 17.0004 11.9998 17.0004C9.13583 17.0004 7.36983 15.2844 7.29583 15.2104C6.90383 14.8214 6.89983 14.1894 7.28883 13.7964C7.67883 13.4044 8.30983 13.4004 8.70383 13.7894C8.74983 13.8344 9.98383 14.9994 11.9998 14.9994C14.0158 14.9994 15.2498 13.8334 15.3018 13.7844C15.6978 13.4024 16.3298 13.4104 16.7128 13.8044ZM8.49983 11.0004C9.32783 11.0004 9.99983 10.3284 9.99983 9.50041C9.99983 8.67241 9.32783 8.00041 8.49983 8.00041C7.67183 8.00041 6.99983 8.67241 6.99983 9.50041C6.99983 10.3284 7.67183 11.0004 8.49983 11.0004ZM15.4998 8.00041C14.6718 8.00041 13.9998 8.67241 13.9998 9.50041C13.9998 10.3284 14.6718 11.0004 15.4998 11.0004C16.3278 11.0004 16.9998 10.3284 16.9998 9.50041C16.9998 8.67241 16.3278 8.00041 15.4998 8.00041ZM23.9998 12.3404V19.0004C23.9998 21.7574 21.7568 24.0004 18.9998 24.0004H13.0828C6.08183 24.0004 0.470831 19.2084 0.0288309 12.8544C-0.211169 9.37841 1.05583 5.97641 3.50783 3.52141C5.96183 1.06541 9.37083 -0.20459 12.8358 0.0294099C19.0968 0.45441 23.9998 5.86141 23.9998 12.3404ZM21.9998 12.3404C21.9998 6.90941 17.9148 2.37841 12.7008 2.02441C12.4718 2.00841 12.2428 2.00141 12.0138 2.00141C9.35783 2.00141 6.80483 3.04941 4.92283 4.93441C2.87983 6.98041 1.82283 9.81741 2.02483 12.7164C2.39683 18.0964 7.04783 22.0014 13.0828 22.0014H18.9998C20.6538 22.0014 21.9998 20.6554 21.9998 19.0014V12.3404Z" fill="#2F2F2F" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_449_2642">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <h4 class="heading4">Partagez vos ressources et vos conseils</h4>
                        </div>
                        <p>Échangez des ressources, des conseils et des astuces avec la communauté pour un jardinage urbain collaboratif enrichissant.</p>
                    </div>
                    <div class="feature-card card3">
                        <div class="card-title">
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g clip-path="url(#clip0_449_2629)">
                                        <path d="M19 4H15V3C15 2.20435 14.6839 1.44129 14.1213 0.87868C13.5587 0.31607 12.7956 0 12 0C11.2044 0 10.4413 0.31607 9.87868 0.87868C9.31607 1.44129 9 2.20435 9 3V4H5C3.67441 4.00159 2.40356 4.52888 1.46622 5.46622C0.528882 6.40356 0.00158786 7.67441 0 9L0 19C0.00158786 20.3256 0.528882 21.5964 1.46622 22.5338C2.40356 23.4711 3.67441 23.9984 5 24H19C20.3256 23.9984 21.5964 23.4711 22.5338 22.5338C23.4711 21.5964 23.9984 20.3256 24 19V9C23.9984 7.67441 23.4711 6.40356 22.5338 5.46622C21.5964 4.52888 20.3256 4.00159 19 4ZM11 3C11 2.73478 11.1054 2.48043 11.2929 2.29289C11.4804 2.10536 11.7348 2 12 2C12.2652 2 12.5196 2.10536 12.7071 2.29289C12.8946 2.48043 13 2.73478 13 3V5C13 5.26522 12.8946 5.51957 12.7071 5.70711C12.5196 5.89464 12.2652 6 12 6C11.7348 6 11.4804 5.89464 11.2929 5.70711C11.1054 5.51957 11 5.26522 11 5V3ZM22 19C22 19.7956 21.6839 20.5587 21.1213 21.1213C20.5587 21.6839 19.7956 22 19 22H5C4.20435 22 3.44129 21.6839 2.87868 21.1213C2.31607 20.5587 2 19.7956 2 19V9C2 8.20435 2.31607 7.44129 2.87868 6.87868C3.44129 6.31607 4.20435 6 5 6H9.184C9.38765 6.58454 9.76816 7.09123 10.2727 7.44977C10.7773 7.80831 11.381 8.00095 12 8.00095C12.619 8.00095 13.2227 7.80831 13.7273 7.44977C14.2318 7.09123 14.6124 6.58454 14.816 6H19C19.7956 6 20.5587 6.31607 21.1213 6.87868C21.6839 7.44129 22 8.20435 22 9V19ZM10 10H5C4.73478 10 4.48043 10.1054 4.29289 10.2929C4.10536 10.4804 4 10.7348 4 11V19C4 19.2652 4.10536 19.5196 4.29289 19.7071C4.48043 19.8946 4.73478 20 5 20H10C10.2652 20 10.5196 19.8946 10.7071 19.7071C10.8946 19.5196 11 19.2652 11 19V11C11 10.7348 10.8946 10.4804 10.7071 10.2929C10.5196 10.1054 10.2652 10 10 10ZM9 18H6V12H9V18ZM20 15C20 15.2652 19.8946 15.5196 19.7071 15.7071C19.5196 15.8946 19.2652 16 19 16H14C13.7348 16 13.4804 15.8946 13.2929 15.7071C13.1054 15.5196 13 15.2652 13 15C13 14.7348 13.1054 14.4804 13.2929 14.2929C13.4804 14.1054 13.7348 14 14 14H19C19.2652 14 19.5196 14.1054 19.7071 14.2929C19.8946 14.4804 20 14.7348 20 15ZM20 11C20 11.2652 19.8946 11.5196 19.7071 11.7071C19.5196 11.8946 19.2652 12 19 12H14C13.7348 12 13.4804 11.8946 13.2929 11.7071C13.1054 11.5196 13 11.2652 13 11C13 10.7348 13.1054 10.4804 13.2929 10.2929C13.4804 10.1054 13.7348 10 14 10H19C19.2652 10 19.5196 10.1054 19.7071 10.2929C19.8946 10.4804 20 10.7348 20 11ZM18 19C18 19.2652 17.8946 19.5196 17.7071 19.7071C17.5196 19.8946 17.2652 20 17 20H14C13.7348 20 13.4804 19.8946 13.2929 19.7071C13.1054 19.5196 13 19.2652 13 19C13 18.7348 13.1054 18.4804 13.2929 18.2929C13.4804 18.1054 13.7348 18 14 18H17C17.2652 18 17.5196 18.1054 17.7071 18.2929C17.8946 18.4804 18 18.7348 18 19Z" fill="#2F2F2F" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_449_2629">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <h4 class="heading4">Apprennez a l'aide de modules éducatifs</h4>
                        </div>
                        <p>Accédez à des modules éducatifs sur le jardinage urbain et découvrez de nouvelles pratiques pour améliorer vos compétences.</p>
                    </div>
                    <div class="feature-card card4">
                        <div class="card-title">
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M22.2075 5.02869C21.3112 3.53492 19.7178 2.53906 17.9253 2.53906H5.97511C4.18256 2.53906 2.58923 3.53492 1.69294 5.02869C0.597516 7.02041 0 9.2113 0 11.5018C0 16.9789 2.19089 21.4602 4.97925 21.4602C6.47302 21.4602 7.66805 20.066 8.5643 17.1781C8.66386 16.7797 9.0622 16.481 9.56016 16.481H14.4398C14.8382 16.481 15.2365 16.7797 15.4357 17.1781C16.332 20.066 17.527 21.4602 19.0208 21.4602C21.8091 21.4602 24 16.9789 24 11.5018C23.9004 9.2113 23.3029 7.02041 22.2075 5.02869ZM18.9211 19.4685C18.6224 19.4685 17.9253 18.6718 17.2282 16.5806C16.8299 15.286 15.6348 14.4893 14.3402 14.4893H9.56016C8.26556 14.4893 7.07053 15.3855 6.67219 16.5806C5.97511 18.6718 5.27798 19.4685 4.97925 19.4685C3.98339 19.4685 1.99172 16.3814 1.99172 11.5018C1.99172 9.60964 2.48962 7.71753 3.38592 6.02459C3.98344 5.12834 4.9793 4.53083 5.97516 4.53083H17.9254C18.9212 4.53083 19.9171 5.12834 20.5146 6.02459C21.4109 7.71753 21.9088 9.60964 21.9088 11.5018C21.9087 16.3814 19.917 19.4685 18.9211 19.4685Z" fill="#2F2F2F" />
                                    <path d="M9.00001 9H8.00003V8.00002C8.00003 7.40002 7.60004 7.00003 7.00004 7.00003C6.40004 7.00003 6.00006 7.40002 6.00006 8.00002V9H5.00008C4.40008 9 4.00009 9.39998 4.00009 9.99998C4.00009 10.6 4.40008 11 5.00008 11H6.00001V12C6.00001 12.6 6.4 13 7 13C7.6 13 7.99998 12.6 7.99998 12V11H9.00001C9.60001 11 10 10.6 10 10C10 9.39998 9.60001 9 9.00001 9Z" fill="#2F2F2F" />
                                    <path d="M18.5 9.99997C19.3284 9.99997 20 9.3284 20 8.49997C20 7.67154 19.3284 6.99997 18.5 6.99997C17.6716 6.99997 17 7.67154 17 8.49997C17 9.3284 17.6716 9.99997 18.5 9.99997Z" fill="#2F2F2F" />
                                    <path d="M15.5 13C16.3284 13 17 12.3284 17 11.5C17 10.6715 16.3284 9.99997 15.5 9.99997C14.6716 9.99997 14 10.6715 14 11.5C14 12.3284 14.6716 13 15.5 13Z" fill="#2F2F2F" />
                                </svg>
                            </div>
                            <h4 class="heading4">Mesurez les impacts environnementaux</h4>
                        </div>
                        <p>Mesurez les impacts environnementaux de vos actions sur l'environnement que ce soit sur votre propre jardin ou sur la communauté.</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- Blog -->
        <div id="blog">
            <div class="heading">
                <p class="home-subheading">Module éducatif</p>
                <h2 class="heading3">Découvrez nos modules sur le jardinage urbain collaboratif</h2>
                <a href="/blog" class="cta-lg outline-cta">
                    Voir tous les modules
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M18 11.9996C17.9951 11.4735 17.7832 10.9705 17.41 10.5996L13.12 6.29958C12.9326 6.11333 12.6792 6.00879 12.415 6.00879C12.1508 6.00879 11.8974 6.11333 11.71 6.29958C11.6163 6.39254 11.5419 6.50315 11.4911 6.62501C11.4403 6.74686 11.4142 6.87757 11.4142 7.00958C11.4142 7.14159 11.4403 7.2723 11.4911 7.39416C11.5419 7.51602 11.6163 7.62662 11.71 7.71958L15 10.9996H5C4.73478 10.9996 4.48043 11.1049 4.29289 11.2925C4.10536 11.48 4 11.7344 4 11.9996C4 12.2648 4.10536 12.5192 4.29289 12.7067C4.48043 12.8942 4.73478 12.9996 5 12.9996H15L11.71 16.2896C11.5217 16.4766 11.4154 16.7307 11.4144 16.996C11.4135 17.2614 11.518 17.5163 11.705 17.7046C11.892 17.8929 12.1461 17.9992 12.4115 18.0001C12.6768 18.0011 12.9317 17.8966 13.12 17.7096L17.41 13.4096C17.7856 13.0362 17.9978 12.5292 18 11.9996Z" fill="#2F2F2F" />
                    </svg>
                </a>
            </div>
            <div class="articles-container">
                <!-- ARTICLE 1 -->
                {{#each (limit articles 2)}}
                    <div class="article">
                        <img src="{{this.img}}" class="article-image" alt="famille recomposée épanouie">
                        <div class="article-meta" >
                            <div class="tag category">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <g clip-path="url(#clip0_684_155)">
                                        <path d="M5.78044 6.94184C6.07369 7.23509 6.07369 7.70984 5.78044 8.00234C5.48719 8.29559 5.01244 8.29559 4.71994 8.00234C4.42669 7.70909 4.42669 7.23434 4.71994 6.94184C5.01319 6.64859 5.48794 6.64859 5.78044 6.94184ZM16.1694 11.5056L15.7457 11.9293C15.7254 12.8541 15.3669 13.7721 14.6694 14.4786L12.2942 16.8846C11.5869 17.6008 10.6434 17.9968 9.63694 17.9998H9.62419C8.62294 17.9998 7.68169 17.6098 6.97369 16.9018L1.41169 11.3871C0.924192 10.9003 0.688692 10.2306 0.763692 9.54734L1.33744 4.36034C1.37569 4.01834 1.64044 3.74609 1.98094 3.69959L7.14769 2.99309C7.84669 2.90009 8.55019 3.13784 9.04369 3.63134L14.6499 9.19034C14.9402 9.48059 15.1727 9.80759 15.3482 10.1563C15.9572 9.28184 15.8717 8.06009 15.0917 7.28009L9.39844 1.72634C9.22669 1.55459 8.98969 1.47509 8.76019 1.50734L3.59344 2.21384C3.18169 2.26934 2.80444 1.98209 2.74819 1.57259C2.69269 1.16234 2.97994 0.784343 3.38944 0.728093L8.55694 0.0208426C9.24769 -0.0774075 9.95869 0.164093 10.4529 0.659843L16.1447 6.21359C17.6042 7.67234 17.6124 10.0438 16.1687 11.5063L16.1694 11.5056ZM13.5909 10.2531L7.98469 4.69409C7.81744 4.52684 7.58269 4.44959 7.34944 4.47884L2.76319 5.10659L2.25394 9.71159C2.22919 9.93884 2.30719 10.1623 2.46919 10.3236L8.03119 15.8383C8.45794 16.2658 9.02269 16.4991 9.62344 16.4991H9.63094C10.2354 16.4976 10.8017 16.2598 11.2254 15.8293L13.6007 13.4233C14.4669 12.5458 14.4624 11.1231 13.5902 10.2516L13.5909 10.2531Z" fill="#2F2F2F" />
                                    </g>
                                    <defs>
                                        <clipPath >
                                            <rect width="18" height="18" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span>{{this.category}}</span>
                            </div>
                            <div class="tag createdAt">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <g clip-path="url(#clip0_684_159)">
                                        <path d="M9 18C4.03725 18 0 13.9628 0 9C0 4.03725 4.03725 0 9 0C13.9628 0 18 4.03725 18 9C18 13.9628 13.9628 18 9 18ZM9 1.5C4.8645 1.5 1.5 4.8645 1.5 9C1.5 13.1355 4.8645 16.5 9 16.5C13.1355 16.5 16.5 13.1355 16.5 9C16.5 4.8645 13.1355 1.5 9 1.5ZM10.875 12.2475C11.2343 12.0405 11.3573 11.5815 11.1495 11.223L9.75 8.799V4.5C9.75 4.086 9.41475 3.75 9 3.75C8.58525 3.75 8.25 4.086 8.25 4.5V9C8.25 9.132 8.2845 9.261 8.3505 9.375L9.8505 11.973C9.99 12.2137 10.2413 12.348 10.5008 12.348C10.6283 12.348 10.7572 12.3158 10.875 12.2475Z" fill="#2F2F2F" />
                                    </g>
                                    <defs>
                                        <clipPath >
                                            <rect width="18" height="18" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span>{{formatDate this.createdAt}}</span>
                            </div>
                        </div>
                        <div class="article-content">
                            <p class="article-title">{{this.title}}</p>
                            <p class="article-text">{{this.intro}}</p>

                            <a class="read-more" href="/articles/{{this.slugUrl}}">
                                <span>Lire plus</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M18 11.9996C17.9951 11.4735 17.7832 10.9705 17.41 10.5996L13.12 6.29958C12.9326 6.11333 12.6792 6.00879 12.415 6.00879C12.1508 6.00879 11.8974 6.11333 11.71 6.29958C11.6163 6.39254 11.5419 6.50315 11.4911 6.62501C11.4403 6.74686 11.4142 6.87757 11.4142 7.00958C11.4142 7.14159 11.4403 7.2723 11.4911 7.39416C11.5419 7.51602 11.6163 7.62662 11.71 7.71958L15 10.9996H5C4.73478 10.9996 4.48043 11.1049 4.29289 11.2925C4.10536 11.48 4 11.7344 4 11.9996C4 12.2648 4.10536 12.5192 4.29289 12.7067C4.48043 12.8942 4.73478 12.9996 5 12.9996H15L11.71 16.2896C11.5217 16.4766 11.4154 16.7307 11.4144 16.996C11.4135 17.2614 11.518 17.5163 11.705 17.7046C11.892 17.8929 12.1461 17.9992 12.4115 18.0001C12.6768 18.0011 12.9317 17.8966 13.12 17.7096L17.41 13.4096C17.7856 13.0362 17.9978 12.5292 18 11.9996Z" fill="#2F2F2F" />
                                </svg>
                            </a>

                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

    <!-- Banniere des cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En poursuivant votre navigation, vous acceptez notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.</p>
        <button onclick="acceptCookies()">Accepter</button>
    </div>

</main>

<!-- Footer-->
<footer>
    <div>
        <div class="newsletter-signup">
            <div class="heading">
                <p class="home-subheading">
                    Rejoignez-nous
                </p>
                <h2 class="heading2">Prêt à transformer votre jardin en un espace de vie éco-responsable ?</h2>
            </div>
            <div class="nl-signup">
                <p>
                    Inscrivez-vous à notre newsletter pour recevoir des conseils, des astuces et des ressources sur le jardinage urbain collaboratif.
                </p>
                <form action="https://app.us17.list-manage.com/subscribe/post?u=6bb0a21d1079de766e0f857a5&amp;id=d799be0915&amp;f_id=0008e1e3f0" method="post" name="mc-embedded-subscribe-form" target="_blank">
                    <div class="signup-form">
                        <input placeholder="Entrez votre adresse e-mail" type="email" name="EMAIL" required>
                        <button type="submit" name="subscribe" class="cta-lg tonal-cta">
                            <span id="submit-waitlist-footer" class="plus-jakarta">Je m'inscris</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FFF">
                                <path d="M18 11.9996C17.9951 11.4735 17.7832 10.9705 17.41 10.5996L13.12 6.29958C12.9326 6.11333 12.6792 6.00879 12.415 6.00879C12.1508 6.00879 11.8974 6.11333 11.71 6.29958C11.6163 6.39254 11.5419 6.50315 11.4911 6.62501C11.4403 6.74686 11.4142 6.87757 11.4142 7.00958C11.4142 7.14159 11.4403 7.2723 11.4911 7.39416C11.5419 7.51602 11.6163 7.62662 11.71 7.71958L15 10.9996H5C4.73478 10.9996 4.48043 11.1049 4.29289 11.2925C4.10536 11.48 4 11.7344 4 11.9996C4 12.2648 4.10536 12.5192 4.29289 12.7067C4.48043 12.8942 4.73478 12.9996 5 12.9996H15L11.71 16.2896C11.5217 16.4766 11.4154 16.7307 11.4144 16.996C11.4135 17.2614 11.518 17.5163 11.705 17.7046C11.892 17.8929 12.1461 17.9992 12.4115 18.0001C12.6768 18.0011 12.9317 17.8966 13.12 17.7096L17.41 13.4096C17.7856 13.0362 17.9978 12.5292 18 11.9996Z" fill="#FFF"></path>
                            </svg>
                        </button>
                    </div>
                </form>
                <p class="rgpd-message">
                    En renseignant votre adresse e-mail, vous acceptez de recevoir la newsletter de Urban-Roots et vous reconnaissez avoir pris connaissance de notre <a href="/politiqueconfidentialite">politique de confidentialité</a>.
                </p>
            </div>
        </div>
        <div class="copyright-bar">
            <div class="links">
                <p>© 2024 Urban-Roots. Tous droits réservés</p>
                <div class="links">
                    <a href="/politiqueconfidentialite">Politique de confidentialité</a>
                    <a href="/mentionslegales">Mentions légales</a>
                </div>
            </div>
            <div class="links">
                <a target="_blank" href="https://www.facebook.com/"><img class="icon-reseaux" src="/img/icons8-facebook.svg" alt="icon facebook"></a>
                <a target="_blank" href="https://www.instagram.com/"><img src="/img/icons8-insta.svg" alt="icon instagram" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.tiktok.com/"><img src="/img/tiktok-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
                <a target="_blank" href="https://www.youtube.com/"><img src="/img/youtube-168-svgrepo-com.svg" alt="icon tiktok" class="icon-reseaux"></a>
            </div>
        </div>

    </div>
</footer>
<script src="../script.js"></script>
</body>
</html>